@tailwind base;
@tailwind components;
@tailwind utilities;

.outerWrap{
    @apply w-full flex justify-center;
}

#skillsSecond::-webkit-scrollbar {
    height: 0.2rem;
  }
  
#skillsSecond::-webkit-scrollbar-thumb {
  background-color: #fffffff5;
  border-radius: 10px;
}
  